SERVER_HOST=0.0.0.0
SERVER_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=dicom_user
POSTGRES_PASSWORD=dicom_password
POSTGRES_DB=dicom_db
POSTGRES_SSL_MODE=disable

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_password
MINIO_USE_SSL=false
MINIO_BUCKET=dicom-images
MINIO_MAX_IDLE_CONNS=100
MINIO_MAX_IDLE_CONNS_PER_HOST=50
MINIO_MAX_CONNS_PER_HOST=50

MAX_UPLOAD_SIZE=52428800
UPLOAD_RATE_LIMIT=10
